html {
    height: 100%;
}

body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
    padding-top: 50px; /* Adjust if needed based on the nav bar height */
}

main {
    flex: 1; /* Allows main content to grow and shrink as needed */
}

.container { 
    width: 80%; 
    margin: auto; 
    padding: 0px;
    padding-top: 0px; /* Increase this value if the content is too low */
}

.button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
}

.button:hover { 
    background-color: #45a049; 
}

.input-field { 
    padding: 10px; 
    width: 300px; 
}

.message { 
    color: #006400; 
    margin-top: 10px; 
}

.error { 
    color: #FF0000; 
}

/* Navigation bar styles */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    margin: 0;
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure nav is above other content */
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Footer styles */
footer {
    background-color: #333; /* Matching nav background */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    padding: 10px 0; /* Some padding top and bottom */
    position: relative; /* Position relative to the layout */
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
}
