body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
    padding-top: 60px; /* Increased to give more space below the nav bar */
    background: #f4f4f4; /* Optional: sets a background color for the body */
}

main {
    flex: 1;
    padding: 20px; /* Adds padding around the main content */
}

.container { 
    width: 80%; 
    margin: auto;
    padding: 20px; /* Adds padding inside the container */
    background: #fff; /* Optional: sets a background color for the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow to the container */
}

/* Input and button styles */
.input-field, .button, select { 
    margin-bottom: 10px; /* Adds space below inputs and buttons */
    width: calc(100% - 20px); /* Full width minus padding */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.message, .error {
    margin: 10px 0; /* Adds space above and below messages */
    padding: 10px; /* Adds space inside messages */
    border-radius: 4px; /* Optional: rounds the corners of the message boxes */
}

.error {
    background-color: #ffdddd; /* Light red background */
    border-left: 6px solid #f44336; /* Thick left border */
}

.message {
    background-color: #ddffdd; /* Light green background */
    border-left: 6px solid #4CAF50; /* Thick left border */
}


/* Navigation bar styles */
nav ul {
    list-style-type: none;
    padding-left: 0; /* Remove padding */
    background-color: #333;
    overflow: hidden;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth background transition */
}

nav ul li a:hover, nav ul li a.active {
    background-color: #111;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px o;
}

label {
    display: block; /* Ensures the label is on its own line */
    margin-bottom: 5px; /* Adds space below the label */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .input-field, .button {
        width: calc(100% - 20px); /* Full width minus padding on smaller screens */
    }

    nav ul li a {
        padding: 14px 10px; /* Smaller padding on smaller screens */
    }
}
